# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables
.env
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc
devtools_options.yaml
pubspec.lock
analysis_options.yaml
pubspec.yaml
lib/core/Di/di.config.dart
lib/core/localization/codegen_loader.g.dart
lib/Feature/auth/api/client/api_service.g.dart
analysis_options.yaml
android/build/reports/problems/problems-report.html

lib/core/Di/di.config.dart
lib/Feature/auth/api/client/api_service.g.dart
lib/Feature/auth/api/models/request/sign_in_request_dto.g.dart
lib/Feature/auth/api/models/response/sign_in_response_dto.g.dart

*.g.dart
*.freezed.dart
*.config.dart
*.gr.dart
*.lock
*.mocks.dart
.gitignore
lib/Feature/auth/api/models/user_dto.g.dart
lib/Feature/auth/api/models/response/sign_in_response_dto.g.dart
lib/Feature/auth/api/models/user_dto.g.dart
lib/core/localization/codegen_loader.g.dart
lib/core/localization/locale_keys.g.dart
lib/Feature/auth/api/client/api_service.g.dart
android/build/reports/problems/problems-report.html
android/build/reports/problems/problems-report.html
pubspec.lock
test/Feature/searchFeature/search_remote_data_source_impl_test.mocks.dart
*.mocks.dart

lib/core/localization/locale_keys.g.dart
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
.env
